<strong>Olá, {{ creator }}</strong>
<p>Ficamos feliz que mais uma pessoa se juntou ao meetup "{{ title }}".</p>
<p>Aqui vai alguns dados do participante:</p>
<p>
  <strong>Nome: </strong>{{name}}<br />
  <strong>Email: </strong>{{email}}<br />
  <br />
</p>
